AIR[$r1],>=,0.0
AIR[$r2],>=,0.0
AIR[$r3],>=,0.0
AIR[$r1],<=,10.0
AIR[$r2],<=,10.0
AIR[$r3],<=,10.0
TEMP[$r1],-1.0*TEMP_plus_one[$r1],TEMP_minus_one[$r1],==,21.75
TEMP[$r2],-1.0*TEMP_plus_one[$r2],TEMP_minus_one[$r2],==,21.75
TEMP[$r3],-1.0*TEMP_plus_one[$r3],TEMP_minus_one[$r3],==,21.75
TEMP[$r1],TEMP_minus_two[$r1],>=,20.0
TEMP[$r2],TEMP_minus_two[$r2],>=,20.0
TEMP[$r3],TEMP_minus_two[$r3],>=,20.0
TEMP[$r1],-1.0*TEMP_plus_two[$r1],<=,23.5
TEMP[$r2],-1.0*TEMP_plus_two[$r2],<=,23.5
TEMP[$r3],-1.0*TEMP_plus_two[$r3],<=,23.5
TEMP_plus_one[$r1],>=,0.0
TEMP_plus_one[$r2],>=,0.0
TEMP_plus_one[$r3],>=,0.0
TEMP_minus_one[$r1],>=,0.0
TEMP_minus_one[$r2],>=,0.0
TEMP_minus_one[$r3],>=,0.0
TEMP_plus_two[$r1],>=,0.0
TEMP_plus_two[$r2],>=,0.0
TEMP_plus_two[$r3],>=,0.0
TEMP_minus_two[$r1],>=,0.0
TEMP_minus_two[$r2],>=,0.0
TEMP_minus_two[$r3],>=,0.0