AIR[$r1],>=,0.0
AIR[$r2],>=,0.0
AIR[$r3],>=,0.0
AIR[$r4],>=,0.0
AIR[$r5],>=,0.0
AIR[$r6],>=,0.0
AIR[$r1],<=,10.0
AIR[$r2],<=,10.0
AIR[$r3],<=,10.0
AIR[$r4],<=,10.0
AIR[$r5],<=,10.0
AIR[$r6],<=,10.0
TEMP[$r1],~TEMP_plus_one[$r1],TEMP_minus_one[$r1],==,21.75
TEMP[$r2],~TEMP_plus_one[$r2],TEMP_minus_one[$r2],==,21.75
TEMP[$r3],~TEMP_plus_one[$r3],TEMP_minus_one[$r3],==,21.75
TEMP[$r4],~TEMP_plus_one[$r4],TEMP_minus_one[$r4],==,21.75
TEMP[$r5],~TEMP_plus_one[$r5],TEMP_minus_one[$r5],==,21.75
TEMP[$r6],~TEMP_plus_one[$r6],TEMP_minus_one[$r6],==,21.75
TEMP[$r1],TEMP_minus_two[$r1],>=,20.0
TEMP[$r2],TEMP_minus_two[$r2],>=,20.0
TEMP[$r3],TEMP_minus_two[$r3],>=,20.0
TEMP[$r4],TEMP_minus_two[$r4],>=,20.0
TEMP[$r5],TEMP_minus_two[$r5],>=,20.0
TEMP[$r6],TEMP_minus_two[$r6],>=,20.0
TEMP[$r1],~TEMP_plus_two[$r1],<=,23.5
TEMP[$r2],~TEMP_plus_two[$r2],<=,23.5
TEMP[$r3],~TEMP_plus_two[$r3],<=,23.5
TEMP[$r4],~TEMP_plus_two[$r4],<=,23.5
TEMP[$r5],~TEMP_plus_two[$r5],<=,23.5
TEMP[$r6],~TEMP_plus_two[$r6],<=,23.5
TEMP_plus_one[$r1],>=,0.0
TEMP_plus_one[$r2],>=,0.0
TEMP_plus_one[$r3],>=,0.0
TEMP_plus_one[$r4],>=,0.0
TEMP_plus_one[$r5],>=,0.0
TEMP_plus_one[$r6],>=,0.0
TEMP_minus_one[$r1],>=,0.0
TEMP_minus_one[$r2],>=,0.0
TEMP_minus_one[$r3],>=,0.0
TEMP_minus_one[$r4],>=,0.0
TEMP_minus_one[$r5],>=,0.0
TEMP_minus_one[$r6],>=,0.0
TEMP_plus_two[$r1],>=,0.0
TEMP_plus_two[$r2],>=,0.0
TEMP_plus_two[$r3],>=,0.0
TEMP_plus_two[$r4],>=,0.0
TEMP_plus_two[$r5],>=,0.0
TEMP_plus_two[$r6],>=,0.0
TEMP_minus_two[$r1],>=,0.0
TEMP_minus_two[$r2],>=,0.0
TEMP_minus_two[$r3],>=,0.0
TEMP_minus_two[$r4],>=,0.0
TEMP_minus_two[$r5],>=,0.0
TEMP_minus_two[$r6],>=,0.0